body {
    font-family: Arial, Helvetica, sans-serif;
}


header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg);
}

.brushes h2 {
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: mediumspringgreen;
}
.frames h2{
    color: white;
    font-size: 32px;
    background-color: lightcoral;
}
u {
    font-weight: bold;
    color: blue;
}
.paint h2 {
    color: white;
    font-size: 32px;
    background-color: skyblue;
 }
